body {
  font-family: "Plus Jakarta Sans";
}
:root {
  --h7-line-height: 38px;
  --fs-h7: 20px;

  --blue-light: #175fe2;
  --azul-primario: #072146;

  --celeste-secundario: #73bdfa;
  --color-font-principal: #063063;
  --color-font-secondary: #227be1;
  --blue-dark: #063063;

  --background-ligth: #f7fbff;
  --grey: #d5d5d5;
  --grey-ligth: #f1f1f1;
  --negro: #2b2b2b;
  --blanco: #fff;
  --green: #2d844a;
}

#top-section {
  margin-top: 90px;
}

#cliente-misterioso {
  background-image: url("/assets/img/Crowdsourcing/cliente-misterioso/woman-surrounded-by-bags-pile 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 401px;
}

#cliente-misterioso h1 {
  font-size: 40px;
  font-weight: 600;
}

#empresas-cliente-misterioso .datos,
#empresas-monitoreo .datos {
  gap: 50px !important;
}

.header {
  gap: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.datos-inner h3 {
  font-size: 36px;
  font-weight: 600;
}

.datos-inner p {
  font-size: 18px;
  font-weight: 400;
}

.btn-start {
  padding: 10px 50px;
  color: white !important;
  width: 100%;
  border-radius: 4px;
}

.btn {
  padding: 10px 50px;
  color: var(--blue-light);
  width: 100%;
  border: #175fe2 1px solid;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .header {
    gap: 36px;
    display: flex;
    flex-direction: column;
    padding-top: 167px;
    justify-content: unset;
  }
  .btn-start {
    padding: 10px 50px;
    color: white !important;
    width: fit-content;
    border-radius: 4px;
  }

  .btn {
    padding: 10px 50px;
    color: var(--blue-light);
    width: fit-content;
    border: #175fe2 1px solid;
    border-radius: 4px;
  }

  #empresas-cliente-misterioso .datos,
  #empresas-monitoreo .datos {
    gap: 13px !important;
  }
}

.header-info-container {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 22px;
  line-height: 38px;
}

.header-info-container-1 {
  line-height: 38px;
  border: red;
  padding-left: -10px;
  padding-right: -10px;
  max-width: 536px !important;
}

.header-info-container-2 {
  gap: 22px;
  border: red;
}

@media screen and (min-width: 768px) {
  .header-info-container {
    height: 460px;
    max-height: 460px;
    padding: 150px 187px;
  }

  .header-row-container {
    gap: 120px;
  }

  .header-info-container {
    padding: 0px;
  }

  .header-info-container-1 {
    padding: 0px;
  }
}

#empresas,
#x5 {
  background-color: var(--blue-light);
  color: white;
}

.swiper {
  width: 100%;
  height: 680px !important;
  position: relative;
  background-color: #f7faff;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 295px;
}

.swiper-slide img {
  position: absolute;
  display: block;
  width: 100%;
  height: 295px;
  max-height: 295px;
  object-fit: cover;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background: var(--grey);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0.7;
  margin: 0 4px;
}

.swiper-pagination-bullet-active {
  background: var(--blue-light); /* Color del punto activo */
}

@media screen and (min-width: 768px) {
  .swiper {
    height: 739px !important;
  }
  .swiper-pagination {
    margin-bottom: 107px !important;
  }
  .swiper-wrapper-imgs {
    padding-left: 92px;
  }
  .swiper-ciomers {
    height: 690px !important;
  }
}

#empresas-cliente-misterioso,
#empresas-auditorias,
#empresas-monitoreo,
#empresas-crowdsourcing {
  background-color: var(--blue-light);
  color: white;
}

.span {
  font-weight: 400 !important;
}

.inner-text-empresas-2 {
  font-weight: 600 !important;
}

.empresas-2-title {
  font-size: 36px !important;
  font-weight: 600;
  line-height: 50px;
}

@media screen and (min-width: 900px) {
  .datos-inner {
    width: 315px;
  }
  #empresas2 {
    height: 470px;
    justify-content: space-evenly;
  }
}

/* -----------------Testimonials 2 ------------*/

#testimonials-2 {
  height: 709px;
  padding: 20px 25px !important;
}

#testimonials-2 h1 {
  font-size: 36px;
  font-weight: 600;
}

.header-testimonials {
  display: flex !important;
  width: 100%;
  gap: 80px;
  overflow: hidden;
}

.swiper2 {
  margin-top: 50px !important;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin: auto;
}

.wrapper {
  margin-top: 80px;
}

.swiper-slide2 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  align-items: center;
}

.swiper-pagination2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card2 {
  width: 375px !important;
  height: 420px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px !important;
}

.client-name {
  font-weight: 600 !important;
}

.company-icon2 {
  width: 67px !important;
  height: auto !important;
}

.stars-container img.star {
  width: 24px;
  height: auto;
}
.stars-container {
  display: flex;
  gap: 25px;
}

@media screen and (min-width: 768px) {
  #testimonials-2 {
    height: 709px !important;
    padding-top: 100px !important;
    padding-bottom: 72px !important;
    margin-top: 0px;
  }
  .testimonials-title {
    margin-bottom: 42px;
  }
  .swiper2 {
    margin-top: 0px !important;
    height: 537px;
    width: 1233px;
  }
  .swiper-pagination2 {
    margin-top: 25px !important;
  }
  .card2 {
    width: 384px !important;
    height: 376px !important;
  }
}
/* ------------Testimonials Mejorar ------------------*/

#mejorar h1 {
  font-size: 36px;
  font-weight: 600;
}

.btn-mejorar {
  width: 336px;
}

/* ------------------Help----------- */

.capitalize-title {
  font-size: 22px !important;
  font-weight: 600;
  line-height: 54px;
}

@media screen and (min-width: 900px) {
  .capitalize-title {
    font-size: 42px !important;
    font-weight: 600;
    line-height: 54px;
  }
}

/* ------------Auditorias ------------------*/

#auditorias {
  background-image: url("/assets/img/Crowdsourcing/Auditorias-inspecciones/Auditorías/indian-man-customer-buyer-mobile-phone-store-choose-his-new-smartphone-south-asian-peoples-technologies-concept-cellphone-shop 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 401px;
}

#auditorias .title {
  font-size: 28px;
}

.swiper h1 {
  font-size: 36px;
}

@media screen and (min-width: 768px) {
  #auditorias .title {
    font-size: 40px;
  }
}

/* ------------Monitore de competencia ------------------*/

#monitoreo {
  background-image: url("/assets/img/Crowdsourcing/Monitoreo/team-stockbrokers-are-having-conversation-dark-office-with-display-screens-analyzing-data-graphs-reports-investment-purposes-creative-teamwork-traders 2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 401px;
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

#monitoreo .datos {
  margin-top: 50px !important;
}

@media screen and (min-width: 517px) {
  #monitoreo {
    padding-top: 167px;
  }
}

/* ------------Crowdsourcing------------------*/

#crowdsourcing {
  background-image: url("/assets/img/Crowdsourcing/hero-crowd.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 401px;
  position: relative;
  overflow: hidden;
  gap: 36px;
  padding-top: 148px;
}

.sky-container,
.herramientas-container {
  width: 190px;
  gap: 22px !important;
  line-height: 30px;
}

.sky-container p {
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width: 990px) {
  .icons-container-crowdsourcing {
    gap: 65px !important;
  }
}

.capa-opaca {
  background: rgba(23, 95, 226, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#crowdsourcing h1,
#crowdsourcing .btn-start {
  position: relative;
  z-index: 2;
}

/* ------------Delegue------------------*/

#delegue {
  background-color: var(--blue-light);
  color: white;
}

#delegue h1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40.32px;
}

@media screen and (min-width: 768px) {
  #delegue {
    max-height: 314px;
    padding-top: 77px;
  }
}
/* -----------------Crowdsourcing------------------ */

.divider-inversionistas {
  width: 50%;
  color: var(--blue-light);
  opacity: 100;
  height: 2px !important;
}

.divider-crowdsourcing {
  width: 30%;
  color: var(--blue-light);
  opacity: 100;
  height: 2px !important;
}

.crowdsourcing-titles {
  color: var(--blue-light) !important;
  margin-bottom: 18px;
  font-size: 20px;
}

#crowdsourcing-capacidad p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.cols-container {
  justify-content: space-between;
  max-width: 1212px;
}

@media screen and (min-width: 900px) {
  #crowdsourcing-capacidad {
    height: 774px;
  }
  #crowdsourcing-capacidad {
    margin: auto;
    align-items: center !important;
  }

  .cols-container {
    justify-content: space-between;
    max-width: 1212px;
    row-gap: 45px;
  }
  .col-crowd {
    max-width: 570px;
  }
  #empresas-crowdsourcing {
    height: 488px;
  }
  .empresas-crowdsourcing-inner {
    padding: 65px 90px 100px 90px !important;
  }
}

@media screen and (min-width: 1200px) {
  #crowdsourcing-capacidad {
    padding: 86px 114px !important;
    max-height: 774px;
    margin: auto;
    align-items: center !important;
  }
}

/* -------------Ciomers------------ */

#ciomers-header {
  background-image: url("/assets/img/Crowdsourcing/Ciomers/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 401px;
  margin-bottom: 0px;
  padding-top: 150px !important;
}

#ciomers-header h1 {
  z-index: 2;
}

.app-img {
  margin-top: 50px;
  width: 356px;
  max-width: 466px;
}

.quienes-text h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
}

.ciomer-quienes,
.ciomer-quienes-2 {
  max-width: 1212px;
}

.description2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

#libera {
  background-color: var(--blue-light);
  color: white;
  font-size: 32px !important;
  font-weight: 400 !important;
}

/* ----------Pre-ronda------------ */

#x5 {
  border-radius: 30px;
}

#pre-ronda h3 {
  color: var(--blue-light);
  margin-bottom: -20px;
  font-size: 20px;
}

#pre-ronda p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

.pre-ronda-items {
  gap: 100px !important;
}

@media screen and (min-width: 768px) {
  #pre-ronda {
    height: 564px;
    max-width: 1212px;
    margin: auto;
    justify-content: center;
  }
  #pre-ronda h3 {
    font-size: 20px;
    text-wrap: nowrap;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .ciomer-quienes-2 {
    display: flex;
    align-items: center;
    height: 595px;
    align-items: center;
    margin-top: 0px;
  }

  .app-img {
    margin-top: 0px !important;
    width: 356px;
    max-width: 466px;
  }

  #ciomers-header {
    padding-top: 191px;
  }
}

header-info-container-apps {
  gap: 95px !important;
}

#testimonials-3 {
  height: 507px;
  padding: 20px 25px !important;
  margin-top: 30px;
}

.testimonials-title-3 {
  margin-bottom: 0px;
}

.card3 {
  width: 320px !important;
  height: 194px !important;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.swiper-pagination-ciomers {
  margin-bottom: 51px;
}

.stars-container3 img.star {
  width: 24px;
  height: auto;
}

.stars-container3 {
  display: flex;
  gap: 25px;
  padding: 0px;

  height: 24px;
  width: 128px;
}

@media screen and (min-width: 990px) {
  .icons-container-ciomers {
    gap: 65px !important;
  }
}

/* -------------Nosotros------------ */

#nosotros {
  background-image: url("/assets/img/Crowdsourcing/Nosotros/close-up-detail-team-working-o-new-project-coworking-space-writing-ideas-looking-through-graphics-tablet-laptop-teamwork-business-concept 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 401px;
  position: relative;
  overflow: hidden;
}

.header-info-container-nosotros {
  line-height: 38px;
  border: red;
  padding-left: -10px;
  padding-right: -10px;
}

#inversionistas .title {
  font-size: 20px;
}

#nosotros p {
  font-size: 18px;
}

.header-main-container-nosotros h3 {
  font-size: 20px !important;
  font-weight: 700;
  line-height: 30px;
}
.header-main-container-nosotros p {
  font-size: 18px !important;
  font-weight: 500;
  line-height: 30px;
}

.header-main-container-nosotros h2 {
  font-size: 16px !important;
  font-weight: 700;
  line-height: 30px;
}

.this-is-us h1 {
  font-size: 36px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .this-is-us {
    height: 930px;
  }

  .header-main-container-nosotros {
    padding: 150px 187px;
    max-width: 1212px !important;
    margin: auto;
    height: 596px;
  }
}

/* ----------Inversionistas--------- */

#inversionistas {
  background-image: url("/assets/img/Crowdsourcing/Inversionistas/hero inversionistas.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 401px;
  position: relative;
  overflow: hidden;
  gap: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inversionistas .title {
  font-size: 28px !important;
  font-weight: 600;
}

#victorinox {
  justify-content: center;
}

#victorinox .victorinox-title {
  font-size: 36px;
  font-weight: 600;
}

#victorinox p {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

@media screen and (min-width: 768px) {
  #inversionistas .title {
    font-size: 40px !important;
    font-weight: 600;
  }

  #victorinox {
    height: 431px;
  }
}

/* ----------Ayuda--------- */

#ayuda {
  background-image: url("/assets/img/Crowdsourcing/PQR/Hero PQR.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 401px;
  position: relative;
  overflow: hidden;
  padding-top: 172px;
}

#ayuda h1 {
  font-size: 40px;
  font-weight: 600;
}

.app {
  width: 120px;
  height: 40px;
}

.app-google {
  width: 133px;
  height: 60px;
}

.custom-accordion {
  background-color: transparent !important;
}

.custom-accordion-button {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  background-color: transparent !important;
  border: none !important; /* Eliminar todos los bordes */
  border-bottom: 2px solid rgba(0, 46, 138, 1) !important; /* Borde inferior del color del texto */
  padding: 10px !important;
  font-weight: 700;
  font-size: 20px !important;
  text-align: left !important;
  cursor: pointer !important;
  width: 100% !important;
  outline: none !important;
  font-size: 16px !important;
  color: rgba(0, 46, 138, 1);
}

/* Estilos para el contenido del acordeón */
.custom-accordion-content {
  display: none;
  background-color: transparent !important;
  padding: 10px !important;
  padding-bottom: 0px;
}

/* Estilos para el icono de rotación */
.custom-accordion-icon {
  transition: transform 0.3s ease !important;
}

/* Rotación del icono cuando el acordeón está abierto */
.custom-accordion-button.active .custom-accordion-icon {
  transform: rotate(180deg) !important;
}

.custom-accordion-container p,
.custom-accordion-container li {
  padding-top: 15px;
  color: rgba(0, 46, 138, 1);
  line-height: 30px;
}

.custom-accordion-container {
  max-width: 936px;
  margin-top: 44px;
}
